<style>
   .modal-content {
     background-color: #212121
   }
   .modal-backdrop {
      z-index: 0;
   }
 </style>

<div class="modal fade" role="dialog" id="modaldelete" tabindex="-1">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
         <button type="button" class="btn-outline-light btn-close btn-close-white" data-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <form action="{{url_for('admin.delete')}}" method="POST">
           <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
           <div class="mb-3">
               <div class="form-group">
                  <label>Are you sure you want to delete your account?</label>
               </div>
           </div>
         
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-danger" type="submit">Delete</button>
       </div>
      </form>
     </div>
   </div>
 </div>