{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Assign Project{% endblock %}
{% block content %}
 <!-- Assign Project -->
 <body class="text-center">
  <section class="vh-100" style="background-color: #212121;">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card bg-dark" style="border-radius: 25px;">
              <div class="card-body p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="color: white;">Assign Designer to "{{ project.name }}" project</h3>
                  <form method="POST" class="form-signin">
                      {{ form.csrf_token }}
                      {{ form.hidden_tag() }}
      

                      <div class="form-floating mb-4">
                        {{ form.designer(class="form-control form-control-lg", placeholder="Designer", id="designer-name", style="height:70px;") }}
                        <label class="form-label text-muted" for="designer-name">{{ form.designer.label() }}</label>
                      </div>

                      <div class="form-floating mb-4">
                        {{ form.role(class="form-control form-control-lg", placeholder="Role", id="role-name", style="height:70px;") }}
                        <label class="form-label text-muted" for="role-name">{{ form.role.label() }}</label>
                      </div>
              
                    <div class="mt-4 pt-2">
                      {{ form.submit(class="btn btn-primary btn-lg") }}
                    </div>
      
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</body>

<!-- <div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1>  </h1>
            <br/>
            <p>
                Select a department and role to assign to
                <span style="color: #aec251;">
                    {{ project.name }} 
                </span>
            </p>
            <br/>
            {{ wtf.quick_form(form, button_map={'submit':'success'}) }}
        
        </div>
      </div>
    </div>
  </div>
</div> -->
{% endblock %}