{% extends 'base.html' %}
{% block title %}
PROJECTS@HEXAGRAM Designers
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
       <h2>Designers</h2>
       <p>All designers are shown below</p>
       <br>

      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Designer Columns -->
               <th scope="col">Name</th>
               <th scope="col">Department</th>
               <th scope="col">Project Managed</th>
               <th scope="col">Project Details</th>
               <th scope="col">Project Management Start Date</th>
               <th scope="col">Project Management Time</th>
               <th scope="col">Man-Hours Needed</th>
               <th scope="col">Options</th>
            </tr>
         </thead>

         <tbody>
            <!-- Rows inside the table -->
            {% for designer in designers %}
            {% include 'includes/designers_modals.html' %}
            <tr>
               <td>{{ designer.name }}</td>
               <td>{{ designer.department }}</td>
               {% for project in projects %}
                  {% if project.id == designer.managed_project %}
                     <td>{{ project.title }}</td>
                     <td>{{ project.project_details }}</td>
                     <td>{{ project.project_start_date }}</td>
                     <td>{{ project.estimated_time }} hours</td>
                     <!-- <td>{{ project.man_hours }} hours</td> -->
                  {% endif %}
               {% endfor %}
               {% if designer.managed_project == None %}
                     <td>No project was assigned yet</td>
                     <td>-</td>
                     <td>-</td>
                     <td>-</td>
                     <td>-</td>
               {% endif %}
               <td>
               <button href="/delete_designer" class="btn btn-outline btn-danger" data-toggle="modal" data-target="#modal_delete_designer-{{ designer.name }}">Delete Designer</button>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
      <button href="/add_designer" class="btn btn-outline btn-info" data-toggle="modal" data-target="#modal_add_designer">Add Designer</button>
   </div>
</div>
{% endblock %}